## Java

*.class
*.war
*.ear
hs_err_pid*

## Robovm
robovm-build/

## GWT
war/
html/war/gwt_bree/
html/gwt-unitCache/
.apt_generated/
html/war/WEB-INF/deploy/
html/war/WEB-INF/classes/
.gwt/
gwt-unitCache/
www-test/
.gwt-tmp/

## Android Studio and Intellij and Android in general
android/libs/armeabi/
android/libs/armeabi-v7a/
android/libs/arm64-v8a/
android/libs/x86/
android/libs/x86_64/
android/gen/
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

## Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans
**/nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

## Gradle

.gradle
gradle-app.setting
build/

## OS Specific
.DS_Store
Thumbs.db
build.gradle
gradle.properties
gradlew
gradlew.bat
settings.gradle
android/AndroidManifest.xml
android/build.gradle
android/ic_launcher-web.png
android/proguard-project.txt
android/project.properties
android/assets/badlogic.jpg
android/res/drawable-hdpi/ic_launcher.png
android/res/drawable-mdpi/ic_launcher.png
android/res/drawable-xhdpi/ic_launcher.png
android/res/drawable-xxhdpi/ic_launcher.png
android/res/drawable-xxxhdpi/ic_launcher.png
android/res/values/strings.xml
android/res/values/styles.xml
android/src/fr/tommarx/gameenginetest/AndroidLauncher.java
core/build.gradle
core/src/GameClass.gwt.xml
core/src/fr/tommarx/gameenginetest/GameClass.java
desktop/build.gradle
desktop/src/fr/tommarx/gameenginetest/desktop/DesktopLauncher.java
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
html/build.gradle
html/src/fr/tommarx/gameenginetest/GdxDefinition.gwt.xml
html/src/fr/tommarx/gameenginetest/GdxDefinitionSuperdev.gwt.xml
html/src/fr/tommarx/gameenginetest/client/HtmlLauncher.java
html/webapp/index.html
html/webapp/refresh.png
html/webapp/soundmanager2-jsmin.js
html/webapp/soundmanager2-setup.js
html/webapp/styles.css
html/webapp/WEB-INF/web.xml
ios/build.gradle
ios/Info.plist.xml
ios/robovm.properties
ios/robovm.xml
ios/data/Default-1024w-1366h@2x~ipad.png
ios/data/Default-375w-667h@2x.png
ios/data/Default-414w-736h@3x.png
ios/data/Default-568h@2x.png
ios/data/Default.png
ios/data/Default@2x.png
ios/data/Default@2x~ipad.png
ios/data/Default~ipad.png
ios/data/Icon-72.png
ios/data/Icon-72@2x.png
ios/data/Icon.png
ios/data/Icon@2x.png
ios/src/fr/tommarx/gameenginetest/IOSLauncher.java
